<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Player Details</title>
</head>
<body>
  <h1>Player Details</h1>
  <img src="<%= player.image %>" alt="<%= player.name %>">
  <p>Name: <%= player.name %></p>
  <!-- Add other player details here -->
  <a href="/players/next">Next Player</a>
</body>
</html>
